*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(31, 96, 97, 0.752);
    /*para centrar en pantalla*/
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;    
    /*para centrar en pantalla*/
}
.pokemones{
    position: relative;
    width: 850px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;    
    background-color: antiquewhite;    
    padding: 10px 20px;
    border-radius: 10px;
    
}

img{    
    width:27%;
    
    
}
img:hover{
    transition: transform 0.3s ease-in-out;
    transform: translate(0, 10px) scale(1.4);
    
}
/* img.zoomed{
    transform: translate(-0%, -0%) scale(4);
} */
.pok1.zoomed{
    transform: translate(115%, -0%) scale(4);
}
.pok2.zoomed{
    transform: translate(90%, -0%) scale(4);    
}
.pok3.zoomed{
    transform: translate(50%, -0%) scale(4);    
}
.pok4.zoomed{
    transform: translate(-90%, -0%) scale(4);    
}
.pok5.zoomed{
    transform: translate(-115%, -0%) scale(4);    
}